{
  "version": "0.2.0",
  "configurations": [
    {
      "type": "node",
      "request": "launch",
      "name": "Debug @vnodes/sample-api with Nx",
      "runtimeExecutable": "pnpm",
      "runtimeArgs": ["exec", "nx", "serve", "@vnodes/sample-api"],
      "env": {
        "NODE_OPTIONS": "--inspect=9229"
      },
      "console": "integratedTerminal",
      "internalConsoleOptions": "neverOpen",
      "skipFiles": ["<node_internals>/**"],
      "sourceMaps": true,
      "outFiles": [
        "${workspaceFolder}/apis/sample-api/dist/**/*.(m|c|)js",
        "!**/node_modules/**"
      ]
    }
  ]
}
