APP_ID=<%- fileName %>
APP_DESC=- [ ] Add description
API_PREFIX=api
PORT=3000
DB_URL=postgres://<%- originName %>:password@localhost:5432/<%- originName %>?schema=<%- projectShortName %>
DB_SCHEMA=<%- projectShortName %>