APP_ID="<%- fileName %>"
APP_VERSION="0.0.1"
APP_DESCRIPTION="<%- fileName %> service"
PORT=3000
DATABASE_URL="postgresql://<%- username %>:<%- password %>@localhost:5432/<%- org %>?schema=<%- fileName %>"
DATABASE_SCHEMA=<%- fileName %>
DOCS_PATH=docs