PROFILE=DEV
APP_ID=<%- fileName %>
APP_DESC=- [ ] Add description
API_PREFIX=api
PORT=3000
DB_URL=postgres://<%- orgName %>:password@localhost:5432/<%- orgName %>?schema=<%- fileName %>
DB_SCHEMA=<%- fileName %>