import 'dotenv/config';
import { defineConfig } from 'prisma/config';
import { envOrThrow, EnvKey, EnvDefault } from '@vnodes/env';

export default defineConfig({
  schema: envOrThrow(
    EnvKey.DB_PRISMA_SCHEMA_PATH,
    EnvDefault.DB_PRISMA_SCHEMA_PATH,
  ),
  migrations: {
    path: envOrThrow<string>(
      EnvKey.DB_MIGRATIONS_PATH,
      EnvDefault.DB_MIGRATIONS_PATH,
    ),
  },
  datasource: {
    url: envOrThrow(EnvKey.DB_URL),
  },
});
