import { Component } from '@angular/core';

@Component({
  selector: '<%- prefix %>-<%-  fileName %>',
  imports: [],
  template: `<p><%-  fileName %></p>`
})
export class <%-  className %>Component { }
