<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    <% pages.forEach(function(page) { %> 
    <url>
        <loc><%= baseUrl %>/<%= page %>.html</loc>
        <lastmod><%= lastModDate %></lastmod>
        <changefreq>weekly</changefreq>
        <priority><%= page === 'index' ? '1.0' : '0.8' %></priority>
    </url>
    <% }); %>
</urlset>