{
    "jsc": {
        "target": "esnext",
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "dynamicImport": true
        },
        "transform": {
            "decoratorMetadata": true,
            "legacyDecorator": true,
            "useDefineForClassFields": true
        },
        "keepClassNames": true,
        "externalHelpers": true,
        "loose": false
    },
    "module": {
        "type": "nodenext",
        "noInterop": false
    },
    "sourceMaps": true,
    "exclude": [
        "vitest.config.mts",
        ".*\\.spec.ts$",
        ".*.js$"
    ]
}